<!-- Section Header-->
<section class="hero hero-parallax text-center">
  <div class="container">
    <h1 class="display-4 animated slideInDown">
      <strong><font>You're </font><span>Company's</span> Name</strong>
    </h1>
    <div class="row justify-content-center animated slideInLeft">
      <p>Pounding the world like a batering ram. oh, it tears me and i bleed. this thorn in my side. Smashing through the boundaries</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus aliquam voluptatibus cupiditate officiis odit suscipit
        molestias, sapiente obcaecati vero facilis!
      </p>
      
      <a class="btn btn-outline-primary" routerLink="home" mdbPageScroll href="#test1">Check Our Article</a>
    </div>
  </div>
</section>
<!--End Section Header -->

<!-- Section About Us-->
<section class="container about">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <h2 class="display-4 animated slideInLeft" data-wow-delay="0.6s">About Us</h2>
      <p class="lead">
        everything you want to know adbout us. is here, please click the link below Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Libero repellat modi recusandae, molestiae adipisci harum sequi voluptate commodi voluptates! Vitae ea a voluptas
        cupiditate magni possimus soluta sit, ducimus, qui!
      </p>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid tenetur hic sint dignissimos, commodi iusto excepturi
        consectetur magnam repellat quidem.</p>
    </div>
    <div class="col-md-5">
      <img class="img-fluid wow fadeinUp" src="../../assets/img/bg-hero.jpeg" alt="" data-wow-delay="0.6s" />
    </div>
  </div>
</section>
<!--End Section About Us -->

                  <!--/.Carousel Wrapper--><!--Section: Team v.2-->
                  <div id="test1">
                  <section class="team-section team pb-5">
                    <div class="container text-center justify-content-center">
                    <!--Section heading-->
                    <h2 class="h1 text-center py-5">Our amazing team</h2>
                    <!--Section description-->
                    <p class="white-text pb-5 text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi,
                      veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>
                  <mdb-carousel [isControls]="true" #carouselRef [animation]="'slide'">
                    <!--First slide-->
                          <!--Section: Team v.2-->
                          <mdb-slide>                           
                              <!--Grid row-->
                              <div class="row justify-content-center">
                                <!--Grid column-->
                                <div class="col-md-3 col-md-6 mb-r">
                            
                                  <div class="avatar">
                                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg" class="img-fluid rounded-circle z-depth-1" alt="First sample avatar image">
                                  </div>
                                  <h4>Anna Deynah</h4>
                                  <h6 class="font-bold blue-text">Web Designer</h6>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>
                            
                                  <!--Facebook-->
                                  <a class="icons-sm fb-ic">
                                    <i class="fa fa-facebook"> </i>
                                  </a>
                                  <!--Twitter-->
                                  <a class="icons-sm tw-ic">
                                    <i class="fa fa-twitter"> </i>
                                  </a>
                                  <!--Instagram-->
                                  <a class="icons-sm ins-ic">
                                    <i class="fa fa-instagram"> </i>
                                  </a>
                            
                                </div>
                                <!--Grid column-->
                                <!--Grid column-->
                                    <div class="row justify-content-center">
                                <div class="col-md-3 col-md-6 mb-r">
                            
                                  <div class="avatar">
                                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="img-fluid rounded-circle z-depth-1" alt="Second sample avatar image">
                                  </div>
                                  <h4>John Doe</h4>
                                  <h6 class="font-bold blue-text">Web Developer</h6>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>
                            
                                  <!--Linkedin-->
                                  <a class="icons-sm li-ic">
                                    <i class="fa fa-linkedin"> </i>
                                  </a>
                                  <!--Facebook-->
                                  <a class="icons-sm fb-ic">
                                    <i class="fa fa-facebook"> </i>
                                  </a>
                                  <!--Dribbble-->
                                  <a class="icons-sm dribbble-ic">
                                    <i class="fa fa-dribbble"> </i>
                                  </a>
                            
                                </div>
                                <!--Grid column-->
                            
                                <!--Grid column-->
                                <div class="col-md-3 col-md-3 mb-r">
                            
                                  <div class="avatar">
                                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="rounded-circle z-depth-1" alt="Third sample avatar image">
                                  </div>
                                  <h4>Maria Kate</h4>
                                  <h6 class="font-bold blue-text">Photographer</h6>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>
                            
                                  <!--Facebook-->
                                  <a class="icons-sm fb-ic">
                                    <i class="fa fa-facebook"> </i>
                                  </a>
                                  <!--Pinterest-->
                                  <a class="icons-sm tw-ic">
                                    <i class="fa fa-twitter"> </i>
                                  </a>
                                  <!--Email-->
                                  <a class="icons-sm email-ic">
                                    <i class="fa fa-envelope-o"> </i>
                                  </a>
                            
                                </div>
                                </div>
                                <!--Grid column-->
                                 </div>
                            </mdb-slide>
                          <mdb-slide>
                            <!--Grid row-->
                            <div class="row justify-content-center">
                          
                              <!--Grid column-->
                              <div class="col-md-3 col-md-3 mb-r">
                          
                                <div class="avatar">
                                  <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg" class="img-fluid rounded-circle z-depth-1" alt="First sample avatar image">
                                </div>
                                <h4>Anna Deynah</h4>
                                <h6 class="font-bold blue-text">Web Designer</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>
                          
                                <!--Facebook-->
                                <a class="icons-sm fb-ic">
                                  <i class="fa fa-facebook"> </i>
                                </a>
                                <!--Twitter-->
                                <a class="icons-sm tw-ic">
                                  <i class="fa fa-twitter"> </i>
                                </a>
                                <!--Instagram-->
                                <a class="icons-sm ins-ic">
                                  <i class="fa fa-instagram"> </i>
                                </a>
                          
                              </div>
                              <!--Grid column-->
                          <div class="row justify-content-center">
                              <!--Grid column-->
                              <div class="col-sm-3 col-md-3">
                          
                                <div class="avatar">
                                  <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="img-fluid rounded-circle z-depth-1" alt="Second sample avatar image">
                                </div>
                                <h4>John Doe</h4>
                                <h6 class="font-bold blue-text">Web Developer</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>
                          
                                <!--Linkedin-->
                                <a class="icons-sm li-ic">
                                  <i class="fa fa-linkedin"> </i>
                                </a>
                                <!--Facebook-->
                                <a class="icons-sm fb-ic">
                                  <i class="fa fa-facebook"> </i>
                                </a>
                                <!--Dribbble-->
                                <a class="icons-sm dribbble-ic">
                                  <i class="fa fa-dribbble"> </i>
                                </a>
                          
                              </div>
                              <!--Grid column-->
                          
                              <!--Grid column-->
                              <div class="col-sm-3 col-md-3">
                          
                                <div class="avatar">
                                  <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="img-fluid rounded-circle z-depth-1" alt="Third sample avatar image">
                                </div>
                                <h4>Maria Kate</h4>
                                <h6 class="font-bold blue-text">Photographer</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>
                          
                                <!--Facebook-->
                                <a class="icons-sm fb-ic">
                                  <i class="fa fa-facebook"> </i>
                                </a>
                                <!--Pinterest-->
                                <a class="icons-sm tw-ic">
                                  <i class="fa fa-twitter"> </i>
                                </a>
                                <!--Email-->
                                <a class="icons-sm email-ic">
                                  <i class="fa fa-envelope-o"> </i>
                                </a>
                          
                              </div>
                              <!--Grid column-->
                          
                              <!--Grid column-->
                              <div class="col-sm-3 col-md-3">
                          
                                <div class="avatar">
                                  <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg" class="img-fluid rounded-circle z-depth-1" alt="Fourth sample avatar image">
                                </div>
                                <h4>Tom Williams</h4>
                                <h6 class="font-bold blue-text">Front-end Developer</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>
                          
                                <!--Google +-->
                                <a class="icons-sm gplus-ic">
                                  <i class="fa fa-google-plus"> </i>
                                </a>
                                <!--Facebook-->
                                <a class="icons-sm fb-ic">
                                  <i class="fa fa-facebook"> </i>
                                </a>
                                <!--GitHub-->
                                <a class="icons-sm git-ic">
                                  <i class="fa fa-github"> </i>
                                </a>
                          
                              </div>
                              <!--Grid column-->
                            </div>
                            </div>
                            </mdb-slide>
                    </mdb-carousel>
                  </div>
                </section>
                </div>